h1
{
	color: greenyellow;
}

body
{
	background-color: blueviolet;
}

#LowerPix
{

	width: 800px;
	margin:0 auto;
	background-color: darkgoldenrod;
	text-align: center;
	align-content: center;
}

ul li
{
	list-style-type: none;
}